#Learn
/Learning/*

#CodeForce
/CodeForce/.vscode/*
/CodeForce/.cph/*
/CodeForce/*.bin

#ProgrammingTH
/ProgrammingTH/*.dSYM
/ProgrammingTH/*.dSYM/*
/ProgrammingTH/.vscode
/ProgrammingTH/.vscode/*
.DS_Store 